@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: black;
  font-family: "Press Start 2P", cursive;
}

.textarea {
  background-color: green;
  border-style: none;
  align-self: stretch;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
}

.button {
  border-style: none;
  background-color: green;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Press Start 2P", cursive;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: green;
}
